<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-row mdl-grid">
    <div *ngFor="let field of fields" class="mdl-cell mdl-cell--6-col maintenance-field">
      <div [ngClass]="{'notValid': formErrors[field.key]}" [ngSwitch]="field.controlType" class="block">
        <mat-form-field *ngSwitchCase="'textbox'">
          <input [formControlName]="field.key" matInput placeholder="test"/>
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'datepicker'">
          <input [formControlName]="field.key" [matDatepicker]="picker" matInput placeholder="Choose a date">
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox *ngSwitchCase="'boolean'" [formControlName]="field.key">{{field.label}}</mat-checkbox>
        <mat-form-field *ngSwitchCase="'dropdown'">
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <app-date-time [formControlName]="'date'">
    </app-date-time>
  </div>
</form>

